body {
  min-height: 100dvh;
}
.h-sandwich-layout {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100dvh;
}
.h-sandwich-layout__content {
  flex: 1 1;
}
.h-sandwich-layout__nav {
  border-right: 1px solid var(--h-container);
  flex: 0 0 4em;
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  box-sizing: border-box;
}
.h-sandwich-layout__nav-button {
  width: 3.4em;
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  background: var(--h-container);
  box-sizing: border-box;
  border-radius: 8px;
}
.h-sandwich-layout__nav-button__bar,
.h-sandwich-layout__nav-button__bar::after,
.h-sandwich-layout__nav-button__bar::before {
  height: 3px;
  width: 2em;
  position: relative;
  border-radius: 3px;
  background: var(--h-compile-accent);
}
.h-sandwich-layout__nav-button__bar::after,
.h-sandwich-layout__nav-button__bar::before {
  content: "";
  position: absolute;
}
.h-sandwich-layout__nav-button__bar::before {
  top: 0.5em;
}
.h-sandwich-layout__nav-button__bar::after {
  top: -0.5em;
}
.h-sandwich-layout__nav-button input {
  display: none;
}

@media (max-width: 768px) {
  .h-sandwich-layout {
    flex-direction: column;
  }
  .h-sandwich-layout__nav {
    margin-top: auto;
    border: 0;
    gap: 0;
    padding: 0;
    flex-direction: row;
    border-top: 1px solid var(--h-container);
  }
  .h-sandwich-layout__content {
    position: absolute;
    flex: unset;
    height: calc(100dvh - 4em);
    transition: 0.3s ease-in;
    left: 0;
    top: 0;
    height: calc(100vhd - 4em);
    width: 100%;
    transition-property: left;
  }
  .h-sandwich-layout__nav-button {
    width: unset;
    order: 1;
    height: 100%;
    flex: 1 1;
    aspect-ratio: unset;
    background: unset;
    border-radius: 0;
  }
  .h-sandwich-layout__nav-bar {
    display: contents;
  }
  .h-sandwich-layout__nav-bar > dynamic > * {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h-sandwich-layout__nav-panels {
    position: fixed;
    left: 100%;
    width: 100%;
    top: 0%;
    transition: left 0.3s ease-in;
  }
  .h-sandwich-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  .h-sandwich-item__title span {
    font-size: 12px;
  }
  .h-sandwich-layout:has(.h-sandwich-layout__nav input:checked)
    .h-sandwich-layout__content {
    position: absolute;
    left: -100%;
  }
  .h-sandwich-layout:has(.h-sandwich-layout__nav input:checked)
    .h-sandwich-layout__nav-panels {
    left: 0%;
  }
}
@media (min-width: 769px) {
  .h-sandwich-layout__nav-panels {
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.3s ease-in;
  }
  .h-sandwich-layout__nav-panels > div {
    overflow: hidden;
    scale: 1;
    transition: scale 0.3s ease-in-out;
  }
  .h-sandwich-layout__nav:not(:has(input:checked))
    .h-sandwich-layout__nav-panels {
    grid-template-rows: 0fr;
  }
  .h-sandwich-layout__nav:not(:has(input:checked))
    .h-sandwich-layout__nav-panels
    > div {
    scale: 0.5;
  }
  .h-sandwich-layout__nav {
    gap: 0.5em;
    transition: 0.3s ease-in;
    transition-property: flex, gap;
  }
  .h-sandwich-layout__nav:has(input:checked) {
    flex: 0 0 20em;
    gap: 1em;
  }
  .h-sandwich-item:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .h-sandwich-item:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .h-sandwich-item {
    cursor: pointer;
    display: grid;
    gap: 0em;
    justify-content: center;
    grid-template-columns: 12px 0fr;
    background: var(--h-container);
    padding: 1em;
    transition: 0.3s ease-in;
    transition-property: grid-template-columns, gap;
  }
  .h-sandwich-item:not(:last-child) {
    border-bottom: 1px solid var(--h-bg);
  }
  .h-sandwich-item__title {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.2s ease-in-out;
  }
  .h-sandwich-item__icon {
    user-select: none;
  }
  .h-sandwich-layout__nav:has(input:checked) .h-sandwich-item {
    gap: 1em;
    grid-template-columns: 12px 1fr;
  }
  .h-sandwich-layout__nav:has(input:checked) .h-sandwich-item__title {
    opacity: 1;
  }
}
